#title{
	font-size: 26px;
	line-height: 75px;
}

.menu-object {
	background-color: #80cbc4;
	border: 1px solid #fff;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 15px;
}

p{
	text-align: center;
}

#info{
	height: 30px;
}

#info:hover:not(:active){
	font-size: 18px;
}

button.menu-object:active{
	font-size: 18px;
}

button.menu-object:hover:not(:active){
	font-size: 27px;
}

.container{
	display: grid;
  	grid-template-columns: auto auto;
  	background-color: #c4c4c4;
 	padding: 10px;
  	border-radius: 10px;
}
